<configuration>

  <appender name="StdOut" class="ch.qos.logback.core.ConsoleAppender">
    <layout class="ch.qos.logback.classic.PatternLayout">
      <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%-40thread] %-45logger{28} - %msg%n</Pattern>
    </layout>
  </appender>

  <appender name="Sysevents" class="ch.qos.logback.core.ConsoleAppender">
    <layout class="ch.qos.logback.classic.PatternLayout">
      <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %msg%n</Pattern>
    </layout>
  </appender>

  <logger name="sysevents" level="DEBUG" additivity="false">
    <appender-ref ref="Sysevents" />
  </logger>

  <root level="DEBUG">
    <appender-ref ref="StdOut" />
  </root>

</configuration>